@import '../variables-defaults';
@import 'font-size';

@function line-height($level) {
  $font-size: font-size($level);
  $min-units: ceil($font-size / $unit-base);
  $min-rem: $min-units * $unit-base;
  @return $min-rem / $font-size;
}
