@mixin container($width: 100vw, $max-width: 1200px, $padding-horizontal: 1rem) {
  box-sizing: border-box;
  width: $width;
  max-width: $max-width;
  margin: 0 auto;
  padding-left: $padding-horizontal;
  padding-right: $padding-horizontal;
}
