@import 'preferences';
@import 'mixins/font-level';

:root {
  font-size: $font-size-base;
  line-height: $unit-base;
}

@for $i from 1 through 6 {
  $font-level: 7 - $i;
  h#{$i} {
    @include font-level($font-level);
  }
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin-top: $unit-base;
  margin-bottom: $unit-base;
}

ul, ol, dl {
  padding-left: $unit-base;
}
