@mixin navbar-brand(
  $navbar-height-full,
  $navbar-height-min,
  $navbar-breakpoint
) {
  font-size: $navbar-height-min / 2;
  line-height: $navbar-height-min;

  @media (min-width: $navbar-breakpoint) {
    line-height: $navbar-height-full;
  }
}
