@import '../../mixins-general/hamburger';

@mixin navbar-toggler($navbar-height, $navbar-breakpoint) {
  $width: 5 / 4 / 2 * $navbar-height;
  $height: 1 / 2 * $navbar-height;

  @include hamburger($width, $height, currentColor);

  float: right;
  padding-top: ($navbar-height - $height) / 2;

  @media (min-width: $navbar-breakpoint) {
    display: none;
  }
}
