@import '../../typography/mixins/font-level';

@mixin navbar-menu($navbar-breakpoint, $navbar-height, $unit-base) {
  $mobile-link-padding-bottom: $unit-base;
  $desktop-distance-between-links: 3 * $unit-base;
  $desktop-link-padding-horizontal: $desktop-distance-between-links / 2;
  $desktop-line-height: $navbar-height;
  $desktop-float: right;

  @include font-level(2);

  @media not all and (min-width: $navbar-breakpoint) {
    float: left;
    width: 100%;
    padding-top: 0.5 * $unit-base;
    transition: margin-top 0.5s;

    &__toggler:not(:checked) + & {
      margin-top: -100%;
    }
  }

  @media (min-width: $navbar-breakpoint) {
    float: $desktop-float;
    margin-right: -($mobile-link-padding-bottom);
    @include font-level(1);
  }

  &__item {
    @media (min-width: $navbar-breakpoint) {
      float: left;
    }
  }

  &__link {
    display: block;

    @media not all and (min-width: $navbar-breakpoint) {
      padding-bottom: $mobile-link-padding-bottom;
      text-align: center;
    }

    @media (min-width: $navbar-breakpoint) {
      line-height: $desktop-line-height;
      padding-left: $desktop-link-padding-horizontal;
      padding-right: $desktop-link-padding-horizontal;
    }
  }
}
