@mixin navbar(
  $unit-base: 1rem,
  $navbar-height: 4rem,
  $brand-height: 2rem,
  $toggler-height: 2rem,
  $breakpoint: 48em,
  $menu-desktop-float: right,
  $menu-mobile-font-size: inherit,
  $menu-mobile-line-height: 2rem,
  $menu-desktop-font-size: inherit,
  $menu-desktop-line-height: 1rem,
  $link-desktop-padding-horizontal: 1em,
  $background-color: inherit,
  $color: inherit
) {
  $brand-padding-vertical: ($navbar-height - $brand-height) / 2;
  $toggler-padding-vertical: ($navbar-height - $toggler-height) / 2;

  background-color: $background-color;
  color: $color;

  &__brand {
    display: inline-block;
    font-size: $brand-height;
    line-height: 1;
    padding-top: $brand-padding-vertical;
    padding-bottom: $brand-padding-vertical;
  }

  &__menu {
    font-size: $menu-mobile-font-size;
    line-height: $menu-mobile-line-height;
    text-align: center;

    @media (min-width: $breakpoint) {
      float: $menu-desktop-float;
      margin-#{$menu-desktop-float}: -($link-desktop-padding-horizontal);
      font-size: $menu-desktop-font-size;
      line-height: $menu-desktop-line-height;
    }
  }

  &__item {
    @media (min-width: $breakpoint) {
      float: left;
    }
  }

  &__link {
    display: block;
    padding-bottom: $unit-base;

    @media (min-width: $breakpoint) {
      $link-desktop-padding-vertical: ($navbar-height - $menu-desktop-line-height) / 2;
      padding: $link-desktop-padding-vertical $link-desktop-padding-horizontal;
    }
  }

  &__toggler {
    float: $menu-desktop-float;
    padding-top: $toggler-padding-vertical;

    @media (min-width: $breakpoint) {
      display: none;
    }
  }
}
