@mixin navbar-menu(
  $breakpoint,
  $mobile-link-padding-bottom,
  $desktop-link-padding-horizontal,
  $desktop-height
) {
  @media (min-width: $breakpoint) {
    margin-right: -($desktop-link-padding-horizontal);
  }

  &__item {
    @media (min-width: $breakpoint) {
      float: left;
    }
  }

  &__link {
    display: block;
    padding-bottom: $mobile-link-padding-bottom;

    @media (min-width: $breakpoint) {
      padding-bottom: 0;
      padding-left: $desktop-link-padding-horizontal;
      padding-right: $desktop-link-padding-horizontal;
      line-height: $desktop-height;
    }
  }
}
