@import 'navbar/navbar-outer';
@import 'navbar/navbar-brand';
@import 'navbar/navbar-toggler';
@import 'navbar/navbar-menu';

@mixin navbar($unit-base) {
  $navbar-height-full: 4 * $unit-base;
  $navbar-height-min: 3 * $unit-base;
  $navbar-breakpoint: 52em;

  .navbar {
    @include navbar-outer(
      $navbar-height-full: $navbar-height-full,
      $navbar-height-min: $navbar-height-min,
      $navbar-breakpoint: $navbar-breakpoint
    );
  }

  .navbar-brand {
    @include navbar-brand(
      $navbar-height-full: $navbar-height-full,
      $navbar-height-min: $navbar-height-min,
      $navbar-breakpoint: $navbar-breakpoint
    );
  }

  .navbar-toggler {
    @include navbar-toggler(
      $navbar-height: $navbar-height-min,
      $navbar-breakpoint: $navbar-breakpoint
    );
  }

  .navbar-menu {
    @include navbar-menu(
      $navbar-breakpoint: $navbar-breakpoint,
      $navbar-height: $navbar-height-full,
      $unit-base: $unit-base
    );
  }
}
