@import 'typography/preferences';

.navbar {
  $navbar-height: 4 * $unit-base;
  $brand-height: 2 * $unit-base;

  background-color: #0d0b11;
  color: #fff;

  &__brand {
    $vertical-padding: ($navbar-height - $brand-height) / 2;
    display: block;
    font-size: $brand-height;
    line-height: 1;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
  }

  &__menu {
    // Reset list defaults
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    // Ensure some space is left at the bottom
    padding-bottom: $unit-base;

    // Alignemnt
    text-align: center;
  }
}
